{% extends 'base.html' %}
{% block content %}
								<div class="col-12">
									<div class="card card-default">
										<div class="card-header card-header-border-bottom d-flex justify-content-between">
											<h2>Traceroute target list</h2>

										</div>

										<div class="card-body">
											<div class="responsive-data-table">
												<table id="responsive-data-table" class="table dt-responsive hover nowrap" style="width:100%">
													<thead class="thead-dark">
														<tr>
															<th>Target Name</th>
															<th>Host Address</th>
															<th>Groups</th>
															<th>Last Probe Time</th>
															<th>Last RTT (ms)</th>
															<th>Previous RTT (ms)</th>
															<th>Delete</th>
														</tr>
													</thead>

													<tbody>
													    {% for target in targets %}
														<tr>
															<td class="text-left align-middle">{{ target.name }}</td>
															<td class="align-middle">{% if target.current_rtt %}<button class="btn btn-success btn-circle">{{ target.address }}</button>
															{% else %}<button class="btn btn-danger btn-circle">{{ target.address }}</button>
															{% endif %}</td>
															<td class="align-middle">{% if target.groups %}
																	{% for group in target.groups %}
																		<button class="btn btn-warning btn-circle">{{ group }}</button>
																	{% endfor %}
																{% endif %}</td>
															<td class="align-middle">{% if target.last_probe %}<button href="#" data-toggle="modal" data-target="#genericModel" data-modaltype="info" data-info="{{ target.current_tr }}">{{ target.last_probe }}</button>{% endif %}</td>
															<td class="align-middle">{{ target.current_rtt }}</td>
															<td class="align-middle">{{ target.previous_rtt }}</td>
															<td class="align-middle"><button type="button" data-toggle="modal" data-target="#genericModel" data-modaltype="delete" data-id="{{ target.id }}" data-name="{{ target.name }}" class="btn btn-danger"><i class="mdi mdi-16px mdi-delete"></i></button></td>
														</tr>
														{% endfor %}
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
								
								<!-- GENERIC MODAL -->
								<div class="modal" id="genericModel" tabindex="-1" role="dialog">
								  <div class="modal-dialog" role="document">
									<div class="modal-content">
									  <div class="modal-header">
										<h5 class="modal-title">Confirm</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										  <span aria-hidden="true">&times;</span>
										</button>
									  </div>
									  <div class="modal-body">
										<p>Are you sure ?</p>
									  </div>
									  <div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancel">No</button>
										<button type="button" class="btn btn-primary btn-danger" id="proceed">Yes, proceed</button>
									  </div>
									</div>
								  </div>
								</div>
								
								<script>
									$('#genericModel').on('show.bs.modal', function (e) {

									var button = $(e.relatedTarget);
									var modal = $(this);
									var modalType = button.data('modaltype')

									if (modalType == 'delete')
									{
										modal.find('.modal-title').html('Confirm');
									    modal.find('.modal-body').html('Are you sure you want to delete ' + button.data('name') + ' ? ');
										modal.find('#cancel').show();
										modal.find('#proceed').html('Proceed');
									    //modal.find('#proceed').attr('href', ('/delete/' + button.data('id')));
										modal.find('#proceed').off('click');
										modal.find('#proceed').on('click', function () {
										    location.href='/delete/' + button.data('name');
										});
									}
									if (modalType == 'info')
									{
										modal.find('.modal-title').html('Information');
									    modal.find('.modal-body').html(button.data('info'));
										modal.find('#cancel').hide();
										modal.find('#proceed').html('OK');
										modal.find('#proceed').off('click');
										modal.find('#proceed').on('click', function () {
										    modal.modal('toggle');
										});
									}

});
								</script>
									    
								
								<script src="assets/plugins/data-tables/jquery.datatables.min.js"></script>
								<script src="assets/plugins/data-tables/datatables.bootstrap4.min.js"></script>
								  


								<script src="assets/plugins/data-tables/datatables.responsive.min.js"></script>
								<script>
								  jQuery(document).ready(function() {
									jQuery('#responsive-data-table').DataTable({
									  "aLengthMenu": [[20, 30, 50, 75, -1], [20, 30, 50, 75, "All"]],
									  "pageLength": 20,
									  "dom": '<"row justify-content-between top-information"lf>rt<"row justify-content-between bottom-information"ip><"clear">'
									});
								  });
								</script>



{% endblock %}