command_runner>=1.3.1
ofunctions.logger_utils>=2.2.0
ofunctions.mailer>=1.2.0
APScheduler==3.6.3
SQLAlchemy>=1.3.16
colorama[optional]>=0.4.3
flup[fcgi]>=1.0.3
fastapi[ui]>=0.5.4
uvicorn[ui]>=0.11.3
psutil[ui]>=5.7.0
aiofiles[ui]>=0.5.0
jinja2[ui]>=2.11.2
tzlocal==2.1
